<!doctype html>
<html>
	
	<head>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<title>Pets</title>
		<!-- build:css css/index.min.css -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
		<!-- endbuild -->
	</head>

	<body class="container">
		
			<div class="text-right">
				<p>
					Bemvindo!!! Haha
				</p>
			</div>
		<!-- build:js js/index.min.js -->
		<!-- endbuild -->
	</body>

</html>